.redBigSquare{
    width: 90%;
    max-width: 700px;
    min-width: 520px;
    height: 440px;
    margin: 1.5rem auto;
    background-color: firebrick;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    filter: drop-shadow(3px 7px 8px #0000006a);
    border: black 3px solid;
}

.whiteFrame{
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black 3px solid;
    border-radius: 0 0 0 20px;
}

.leftPanel{
    border-right: black 3px solid;

}

.leftScrren{
    width: 250px;
    height: 250px;
    background-color: skyblue;
    border: black 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftScrren img{
    width: 200px;
    filter: drop-shadow(3px 7px 8px #0000006a);
}

.rigthScreen{
    width: 300px;
    height: 400px;
    margin: 1rem;
    background-color: rgb(57, 57, 57);
    border: black 3px solid;
    color: white;
    text-align: left;
    padding: 0 10px;
}
.rigthScreen h3{
    margin: 7px;
    color: skyblue;
}

.rigthScreen p{
    color: antiquewhite;
}

.pokeType{
    display: inline;
    padding: 2px 5px;
    border-radius: 10px;
    margin-left: 5px;
    text-shadow: 0px 1px 3px #00000097;
}

.buttonContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonContainer h3{
    font-size: 100%;
}

.miniScreen{
    width: 150px;
    height: 65px;
    color: antiquewhite;
    border-radius: 10px;
    border: black 2px solid;
    background-color: rgb(57, 57, 57);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonContainer button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 25px;
    filter: drop-shadow(8px 10px 9px #00000073);
    margin: 0 5px;
}

.abutton{
    background-color: blue;
}

.bbutton{
    background-color: green;
}

@media (max-width: 590px) {
    .redBigSquare{
        width: 90%;
        min-width: 320px;
        max-width: 370px;
        height: 850px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 20px;
    }
    .leftPanel{
        border-right:none;
    }

  }