.containerGens{
    padding-top: 20px;
}

.listGens{
    display: flex;
    flex-wrap: wrap;
    color: antiquewhite;
    justify-content: center;
}

.itemGen{
    text-decoration: none;
    color: antiquewhite;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 30px;
    padding: 10px;  
    margin: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, color 0.3s ease;
    overflow: hidden;
}

.itemGen:hover{
    color: firebrick;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.itemGen img{
    width: 33%;
    max-width: 110px;
    
}

.itemGen ul{
    display: flex;
    justify-content: center;
}

.listPokeContainer{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}


.listHeader{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.listPoke{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}