.separator{
    height: 60px;
}

.disableApp{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 998;
    top: 50px;
    transition: background-color 0.5s ease;
}


.container{
    width: 100%;
    background-color: firebrick;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.list{
    color: white;
    display: flex;  
    gap: 0.7rem;  
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

.listMobile{
    background-color: firebrick;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: width 0.5s ease;
    position: fixed;
    top: 55px;
    z-index: 999;

}


.listMobile li{
    margin: 0.5rem 0;
    font-weight: bold;
    padding: 0 2rem;
}

.logo i{
    width: 25px;
    color: antiquewhite;
    font-size: 2rem;
    padding: 0;
    display: none;
    cursor: pointer;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.logo img{
    width: 40px;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.list li{
    transition: transform 0.2s ease;
}


.list li:hover{
    transform: scale(1.2); 
}

a{
    color:antiquewhite;
    text-decoration: none;
    
}

.list div{
    display: flex;
}

input{
    height: 1.5rem;
    border-radius: 50px 0 0 50px;
    border: 0;
    padding-left: 1rem;
}

.list input:focus{
    outline: none;
}

button{
    height: 1.5rem;
    width: 3rem;
    border-radius: 0 50px 50px 0;
    border: 0;
    cursor: pointer;
    margin: 0;
}

@media(max-width: 650px){
    .list{
        padding-right: 5px;
    }
    .list li{
        display: none;
    }

    input{
        width: 120px;
    }

    .logo a{
        font-size: 1rem;
    }

    .logo i{
        font-size: 2rem;
        display: inline;
    }

    .open {
        width: 40%;
    }
 
}