.container{
    width: 100vw;
    background-color: firebrick;
    padding: 0.5rem 0;
    
}

.list{
    color: white;
    display: flex;    
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.logo img{
    width: 40px;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.list li a{
    color: inherit;
    text-decoration: none;
 
}


.list li input{
    height: 1.5rem;
    border-radius: 50px 0 0 50px;
    border: 0;
    padding-left: 1rem;
}

.list li input:focus{
    outline: none;
}

.list li button{
    height: 1.5rem;
    width: 3rem;
    border-radius: 0 50px 50px 0;
    border: 0;
    cursor: pointer;
}