.listHeader{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.typesContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.typesContainer ul{
    width: 90%;
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.typesContainer li{
    margin: 5px;
}

.typesContainer img{
    width: 100px;
    filter: drop-shadow(3px 7px 8px #0000006a);
    margin: 5px;
    transition: transform 0.3s ease;
}

.typesContainer img:hover{
    transform: scale(1.1);
}


h3{
    color: antiquewhite;
    filter: drop-shadow(3px 7px 8px #0000006a);
}

.listPokeContainer{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

.listPoke{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listHeader h2{
    background-color: antiquewhite;
    color: firebrick;
    padding: 5px 8px;
    border-radius: 10px;
}